/* ---------- Variables ---------- */

$primaryColor: #131415;

/* ---------- Reset styles ---------- */

/* Links */

a {
    color: $primaryColor;

    &,
    &:link,
    &:visited,
    &:hover {
        text-decoration: none;
    }
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans";
}

ul {

    &,
    & li {
        list-style: none;
    }
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    font-family: "Open Sans";
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

/* ---------- Global styles ---------- */

* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
    color: $primaryColor;
    overflow-x: hidden;
}

.container {
    max-width: 1950px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-weight: 800;
    font-size: 56px;
    line-height: 110%;
}

.button {
    width: 100%;
    max-width: 224px;
    height: 64px;
    background: linear-gradient(#ED0189, #F3293B);
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    transition: .4s;

    &:hover {
        scale: 1.05;
    }
}


/* ---------- Services styles ---------- */

.services {

    &-inner {
        max-width: 1760px;
    }

    &__title {
        margin-bottom: 80px;
    }

    &-tabs {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;

        &-item {
            padding: 45px 40px;
            background:
                linear-gradient(white, white) padding-box,
                linear-gradient(to right, #D74596, #F2464E, #857ADD, #0192DE) border-box;
            border: 1px solid transparent;
            border-radius: 32px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 32px;
            position: relative;
            transition: .4s;
            cursor: pointer;

            &:hover {
                background:
                    linear-gradient(#EFF8FF, #EFF8FF) padding-box,
                    linear-gradient(to right, #D74596, #F2464E, #857ADD, #0192DE) border-box;
            }

            &.active {
                background:
                    linear-gradient(#EFF8FF, #EFF8FF) padding-box,
                    linear-gradient(to right, #D74596, #F2464E, #857ADD, #0192DE) border-box;
                border: 2px solid transparent;
            }

            &.active &__icon {
                background-color: #EFF8FF;
            }

            &.active &__button {

                &::before {
                    background: url('../img/close-icon.svg') no-repeat center center / 35%;
                }
            }

            &__icon {
                position: absolute;
                left: 32px;
                top: -40px;
                width: 72px;
                height: 72px;
                background-color: transparent;
                border-radius: 100px;
                background-position: center center;
                background-size: 60%;
                background-repeat: no-repeat;
                background-color: #fff;
            }

            &:first-child &__icon {
                background-image: url('../img/design-icon.svg');
            }

            &:nth-child(2) &__icon {
                background-image: url('../img/ads-icon.svg');
            }

            &:nth-child(3) &__icon {
                background-image: url('../img/flag-icon.svg');
            }

            &:last-child &__icon {
                background-image: url('../img/other-icon.svg');
            }

            &__title {
                font-size: 24px;
                font-weight: 700;
                line-height: 120%;
            }

            &__button {
                width: 48px;
                height: 48px;
                border-radius: 100px;
                background:
                    linear-gradient(white, white) padding-box,
                    linear-gradient(to right, #D74596, #F2464E, #857ADD, #0192DE) border-box;
                border: 1px solid transparent;
                flex-shrink: 0;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    inset: 0;
                    background: url('../img/chevron-icon.svg') no-repeat center center / 25%;
                }
            }

        }
    }

    &-content {
        margin-top: 48px;


        &-item {
            gap: 50px;
            align-items: center;
            justify-content: space-between;
            display: none;

            &.active {
                display: flex;
            }

            &-conditions {
                &__label {
                    background: linear-gradient(to right, #D74596, #F2464E, #857ADD, #0192DE);
                    padding: 8px 9px;
                    border-radius: 27px;
                    color: #fff;
                    font-size: 14px;
                    margin-bottom: 24px;
                    width: fit-content;
                }

                &__list {
                    padding-left: 27px;

                    & li {
                        list-style-type: disc;
                        font-size: 20px;
                        line-height: 140%;
                    }
                }
            }

            &-info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 48px;
            }

            &__description {
                font-size: 20px;
                line-height: 140%;

                & strong {
                    font-weight: 700;
                }
            }

            &-info {
                max-width: 650px;
            }

            &-slider {
                max-width: 700px;
                margin: 0;
                height: 30rem;
                position: relative;
                border-radius: 60px;

                &-pagination {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    bottom: 40px !important;

                    & .swiper-pagination-bullet {
                        width: 16px;
                        height: 16px;
                        background-color: #fff;
                        opacity: 1;
                    }

                    & .swiper-pagination-bullet-active {
                        width: 20px;
                        height: 20px;
                        background-color: #268CDE;
                    }
                }

                &-button-prev,
                &-button-next {
                    height: 62px;
                    width: 62px;
                    background-color: #fff;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 20%;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 1;
                    border-radius: 100px;
                }

                &-button-prev {
                    background-image: url('../img/slider-button-prev.svg');
                    left: 28px;
                }

                &-button-next {
                    background-image: url('../img/slider-button-next.svg');
                    right: 28px;
                }

                .swiper {
                    &-slide {
                        width: 100%;
                        height: 100%;

                        & picture,
                        & img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}

/* ---------- Contacts styles ---------- */

.contacts {
    margin: 44px 0 50px;

    &-inner {
        background-color: #EFF8FF;
        padding: 96px 80px 130px 80px;
        display: flex;
        align-items: center;
        gap: 180px;
        position: relative;

        &__decor {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            pointer-events: none;
            background: url('../img/form-decor.svg') no-repeat center center / cover;
            width: 26%;
            height: 53%;
            z-index: 1;
        }
    }

    &-info {
        display: flex;
        flex-direction: column;
        gap: 70px;
        width: 100%;
        max-width: 490px;
    }

    &-group {
        &__label {
            font-size: 16px;
            color: #1C1F23A3;
            margin-bottom: 24px;
        }

        &-item {
            display: flex;
            gap: 16px;
            align-items: flex-start;
            margin-bottom: 20px;

            &:last-child {
                margin: 0;
            }

            &__value {
                font-weight: 700;
                font-size: 32px;
                line-height: 120%;
            }

            &__icon {
                padding-top: 6px;
            }
        }
    }

    &-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 96px 70px;
        background-color: #fff;
        border-radius: 32px;
        box-shadow: 0 8px 40px 0 #ACB2B852;
        position: relative;

        &__title {
            font-size: 32px;
            font-weight: 800;
            line-height: 120%;
            margin-bottom: 64px;
        }

        &__field {
            width: 100%;
            height: 52px;
            border-bottom: 1px solid #0E90DE29;
            font-size: 14px;
            margin-bottom: 32px;

            &::placeholder {
                color: #1C1F2366;
            }

            &.empty-field {
                border-color: tomato;
            }
        }

        &-checkbox {
            margin: 7px 0 39px;
            display: flex;
            align-items: center;
            gap: 8px;

            &__input {
                appearance: none;
                width: 24px;
                height: 24px;
                background-color: #268CDE;
                border-radius: 6px;
                border: 1px solid #268CDE;
                transition: .4s;
                cursor: pointer;

                &::after {
                    content: '';
                    position: absolute;
                    width: 22px;
                    height: 22px;
                    opacity: 0;
                    visibility: hidden;
                    background: url('../img/check.svg') no-repeat center center / 70%;
                    transition: .4s;
                }

                &:checked {
                    &::after {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }

            &__label {
                font-size: 16px;
                line-height: 120%;

                & a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        &__result {
            position: absolute;
            left: 70px;
            bottom: 30px;
            font-size: 16px;
            border-radius: 10px;
            padding: 10px 20px;

            &.error-message {
                background-color: tomato;
                color: #fff;
            }

            &.success-message {
                background-color: rgb(67, 174, 67);
                color: #fff;
            }
        }
    }
}


/* ---------- Popup styles ---------- */

.popup-wrapper {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    place-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    overflow-y: auto;
}

.popup-wrapper-show {
    visibility: visible;
    opacity: 1;
}

.popup {
    font-family: sans-serif;
    padding: 40px 30px;
    background-color: #fff;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    border: 1px solid transparent;
    border-radius: 32px;
    box-shadow: 0 8px 40px 0 #ACB2B852;
    position: relative;
    transition: 0.3s;
    transform: translateY(-50%);

    &__close {
        width: 48px;
        height: 48px;
        border-radius: 100px;
        background:
            linear-gradient(white, white) padding-box,
            linear-gradient(to right, #D74596, #F2464E, #857ADD, #0192DE) border-box;
        border: 1px solid transparent;
        flex-shrink: 0;
        position: absolute;
        right: 10px;
        top: 10px;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            inset: 0;
            background: url('../img/close-icon.svg') no-repeat center center / 25%;
        }
    }
}

.popup-wrapper-show .popup {
    transform: translateY(0);
}

.popup__title {
    font-size: 24px;
    margin-bottom: 20px;
}

.popup-body {
    font-size: 18px;
    line-height: 130%;
}